#footer {
    /* BEGIN TSOC Modification */
    font-family:  map-get($font-families, 'footer');
    background-color: rgb(20,20,20);
    color:      #fff;
    /* END TSOC Modification */    
    font-size:  map-get($font-size, medium);
    text-align: center;
    margin-top: 70px;
    height:     auto;
    padding:    20px 20px;
}

 /* BEGIN TSOC Modification */
#footer-logo {
    max-width: 200px;
}
/* END TSOC Modification */
