.task-list {
    list-style-type: none;

    .task-list-item {
        margin: 0 0.2em 0.25em -1.6em;
    	vertical-align: middle;
    }
}

pre.code-highlight > code {
	padding: 0;
	margin: 0;
	line-height: inherit;
}


// BEGIN TSOC Modification
.btn-badge {
  display: inline-block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.hljs-copy-button {
    background-color: #b1b9be !important;
    border-color: #b1b9be !important;
    border-radius: 3px !important;
    width: 6rem !important;
    height: 4rem !important;
    top: 1.5rem !important;
    right: 0.5rem !important;
    transition: background-color 50ms ease,transform 50ms ease-out;

    &:hover {
        cursor: pointer;
        background-color: #9eabb3 !important;
        border-color: #9eabb3 !important;
    }
}
// END TSOC Modification

