.task-list {
    list-style-type: none;

    .task-list-item {
        margin: 0 0.2em 0.25em -1.6em;
    	vertical-align: middle;
    }
}

pre.code-highlight > code {
	padding: 0;
	margin: 0;
	line-height: inherit;
}


// BEGIN TSOC Modification
#top > div > div > p:first-of-type {
  color: map-get($colors, light);
  border-bottom: 1px dashed map-get($colors, light);
}

#top > div > div > p:nth-of-type(2)::first-letter {
  float: left;
  font-size: 6.5rem;
  line-height: 0.75;
  border: 1px dashed map-get($colors, light);
  margin-right: 4px;
  padding: 5px;
  font-weight: bold;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.post-title, .postShorten-title {
  font-family: 'Roboto Condensed';
  font-weight: 400;
}
#top-detail {
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-top: 4px solid;
  border-image-source: linear-gradient(90deg, #e73c29, #fcd430);
  border-image-slice: 1;
}

.thumbnail {
  min-width: 140px;
  min-height: 140px;
  width: 140px;
  height: 140px;
  font-size: 64px;
  font-family: $tsoc-font;
  background-color: #b1b9be;
  display: flex;
  justify-content: center;
  align-items: center;
  &-post-header {
    float: right;
  }
}

.btn-badge {
  display: inline-block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.list-results {
  text-transform: uppercase;
}

.list-results > span {
  text-transform: none;
  font-size: 1.8rem;
}

.logo-navbar {
  max-height: map-get($header, height);
  padding: 2px;
}

.hljs-copy-button {
    background-color: #b1b9be !important;
    border-color: #b1b9be !important;
    border-radius: 3px !important;
    width: 6rem !important;
    height: 4rem !important;
    top: 1.5rem !important;
    right: 0.5rem !important;
    transition: background-color 50ms ease,transform 50ms ease-out;

    &:hover {
        cursor: pointer;
        background-color: #9eabb3 !important;
        border-color: #9eabb3 !important;
    }
}
// END TSOC Modification

