<div class="post-header main-content-wrap {{ if $.Params.metaalignment }}text-{{ $.Params.metaalignment }}{{ else }}text-left{{ end }}">
  {{ with $.Params.link }}
    <h1 itemprop="headline"> 
      <a class="link" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="{{ i18n "global.open_link"}}: {{ . | absURL }}">
        {{ $.Title }}
      </a>
    </h1>
  {{ else }}
    <!-- BEGIN TSOC MODIFICATION -->
    <h1 class="post-title {{ if $.Params.autoThumbnail }}post-title-thumbnail{{ end }}">
      {{ .Params.titleHtml | safeHTML }}
    </h1>
    {{ if (.Params.autoThumbnail) }}
      <div class="thumbnail thumbnail-post-header" style="{{ .Params.autoThumbnailStyle | safeCSS }}">
        {{ .Params.autoThumbnailText | safeHTML }}
      </div>
    {{ end }}
  {{ end }}
  <div class="break"></div>
  <!-- END TSOC MODIFICATION -->
  {{ partial "post/meta.html" . }}
</div>
