{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <article class="post" id="top">
          {{ with .Params.covercaption }}
            <span class="post-header-cover-caption caption">{{ . | markdownify }}</span>
          {{ end }}
          {{ if or (not .Params.coverimage) (eq .Params.covermeta "out") }}
            {{ partial "post/header.html" . }}
          {{ end }}
          <div class="post-content markdown">
            <div class="main-content-wrap">

              <!-- Begin TSOC modification -->
              {{ partial "lang_translations.html" . }}
              <!-- End TSOC modification -->
              
              {{ (replaceRE "<!--\\s*[t|T][o|O][c|C]\\s*-->" (printf "<h1 id=\"table-of-contents\">%s</h1>%s" (i18n "post.toc") .TableOfContents) .Content) | safeHTML }}
              {{ partial "post/gallery.html" . }}
            </div>
          </div>
         
          <div id="post-footer" class="post-footer main-content-wrap">
            
              <!-- Begin TSOC modification -->
              <hr />
              <h2>{{ i18n "post.comments" }}</h2>
              {{ partial "post/comment.html" . }}

              <hr />
              <h2>{{ i18n "post.about_article" }}</h2>
                {{ partial "post/author.html" . }}
                {{ partial "post/license.html" . }}
                {{ partial "post/tags.html" . }}
              
              <hr />
              <h2>{{ i18n "post.stats" }}</h2>
              <div class="post-footer-bottom-line"> 
                {{ partial "post/stats.html" . }}
                <br />
                {{  .Site.Params.statsText }}
              </div>

              {{ partial "post/actions.html" . }}

              <!-- End TSOC modification -->
              
            </div>
          </article>
        {{ partial "footer.html" . }}
      </div>
      <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        {{ partial "post/actions.html" . }}
      </div>
      {{ partial "post/share-options.html" . }}
    </div>
{{ partial "foot.html" . }}
