{{ if .Site.Params.defaultFooter }}
<footer id="footer" class="main-content-wrap">
  <span class="copyrights">
    &copy; {{ now.Format "2006" }} {{ with .Site.Params.footer.copyright }}{{ . | safeHTML }}{{ else }}{{ with .Site.Author.name }}{{ . }}{{ else }}{{ with .Site.Title }}{{ . }}{{ end }}{{ end }}{{ end }}. {{ i18n "footer.all_rights_reserved" }}
  </span>
</footer>
{{ else }}
<footer id="footer" class="main-content-wrap">
  <a href="https://equilaterus.com" target="_blank">
  <img id="footer-logo" src="/images/equilaterus.png" alt="Equilaterus" />
  </a>
  <br />
  <span class="copyrights">
    The Science of Code is a Free and Open Source initiative by Equilaterus. <br />
    Our source code is available at <a href="https://github.com/thescienceofcode" target="_blank">GitHub</a> under GPL-3.0 License. <br/>
    <i class="fab fa-creative-commons"></i> 2013 - {{ now.Format "2006" }}.<br />
  </span>  
</footer>
{{ end }}
