<!-- BEGIN TSOC Modification -->
<nav id="sidebar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <div class="sidebar-container">
    
    <!-- Begin TSOC Logo -->
    <div class="sidebar-profile">
      <a href="{{ site.Home.Permalink }}">
        <img class="sidebar-profile-picture" src="{{ .Site.Params.tsoc.picture }}" alt="{{ i18n "global.author_picture" }}" />
      </a>
    </div>
    <!-- End TSOC Logo -->
    
    <div class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.main "root" $) }}
      {{ partial "menu.html" (dict "menu" .Site.Menus.links "root" $) }}
      {{ range $.Site.Home.AllTranslations }}
        <a class="sidebar-button" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">          
          <span class="sidebar-button-icon">&nbsp;</span>
          <span class="sidebar-button-desc">{{ .Language.LanguageName }}</span>
        </a>
      {{ end }}
      {{ partial "menu.html" (dict "menu" .Site.Menus.misc "root" $) }}      
    </div>    
  </div>
</nav>
<!-- END TSOC Modification -->
