// Mixin helper to animate sidebar transition (slide)
@mixin sidebar-slide-animation {
    transition:                  transform .25s ease-in-out;
    -webkit-transition:          -webkit-transform .25s ease-in-out;
}

@mixin sidebar-sm {
  justify-content: start;
}

@mixin sidebar-md {
    width: map-get($sidebar, md-screen-width);
    // Begin TSOC modification
    overflow-x: hidden; // TSOC Fix
    // End TSOC modification

    // Used to animate the sidebar (pushed effect)
    &.pushed {
        @include prefix(transform, translate3d(#{map-get($sidebar, md-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}

@mixin sidebar-lg {
    width: map-get($sidebar, lg-screen-width);
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Author information
    .sidebar-profile {
        // Begin TSOC modification
        .sidebar-profile-picture {
            max-width: 150px;
            margin-bottom: 5px;
        }
        // End TSOC modification

        .sidebar-profile-name {
            font-size: 1.6rem;
        }
    }
    // Used to animate the sidebar (pushed effect)
    &.pushed {
        @include prefix(transform, translate3d(#{map-get($sidebar, lg-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}

/// Mixin helper to display the sidebar in large size
@mixin sidebar-xlg {
    width:           map-get($sidebar, xlg-screen-width);
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    
    .sidebar-container {
        position: relative;
        padding:  0 80px;
    }

    // Used to animate the sidebar (pushed effect)
    &.pushed {
        @include prefix(transform, translate3d(#{map-get($sidebar, xlg-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}
